:root {
    font-size: 16px;
    font-family: 'Hack', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: blueviolet;
}

main {
    margin-left: 4rem;
    padding-left : 2rem;
    padding-right: 1rem;
    font-family: Helvetica Neue, monospace;
}

.exInfo {
    font-weight: bold;
}

.criteria {
    font-weight: bold;
}

.maxScore {
    font-weight: bold;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: 22rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.6) hue-rotate(60deg);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1) hue-rotate(0grad);
    background: var(--bg-secondary);
    color: var(--text-secondary)
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.heading {
    display: block;
    color: blueviolet;
    font-size: 1.4rem;
}

tr {
    transition: background-color 200ms ease-out 100ms,
                color 200ms ease-out 100ms;
}

tr:hover {
    background-color: blueviolet;
    color: white;
}

.criteriaTable, .tableData {
    border-bottom: 1px solid;
    border-collapse: collapse;

    padding: 1rem;
}

.criteria {
    padding-bottom: 1rem;
}

.maxScore {
    padding-top: 1rem;
}

hr.rounded {
    border-top: 8px solid blueviolet;
    border-radius: 5px;
}

.codeBox {
    font-size: 13px;
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 20px;
    margin-bottom: 10px;
}

.accordion:after {
    content: "\02795";
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.active, .accordion:hover {
    background-color: blueviolet;
    color: white;
}

.active:after {
    content: "\2796";
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.accordionPanel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.exerciseLink {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 20rem;
    }

    .navbar:hover .link-text {
        display: block;
        transition: opacity var(--transition-speed);
    }
}